.header {
    border: 0px solid red;
    padding: 0px;
    width: 100%;
    width: $navbar-brand-width;
    height: $navbar-height;
    box-sizing: border-box;
    display: table;
    background-repeat: no-repeat;
    background-color: white;
    background-image: $navbar-brand-logo;
    background-position: center top;
    background-size: $navbar-brand-logo-size;
}

.header::after {
    content:"";
    clear: both;
    display: table;
}

[class*="col_"] {
    display: table-cell;
    padding: 15px;
    border: 0px solid black;
}

.col_1 {
    width: 2%;
    padding-right: 0px;
}
.col_2 {
    padding-left: 5px;
    width: 10%;
    font-size: small;
    display: table-cell;
    vertical-align: middle;
}
.col_3 {
    width: auto;
    font-size: xx-large;
    text-align: center;
}
.col_4 {
    width: 5%;
}

.title {
    line-height:130%;
    font-weight:bold;
    color:#444;
}

.margin-10 {
    margin-top: 10px
}

.padding-10 {
    padding: 10px
}

.col-centered {
    display: block;
    width: 50%;
    margin: auto;
    padding: 20px;
}
